// 公用颜色
@bgColor: var(--background-color);
@primaryColor: var(--primary-color);
@primaryHoverColor: var(--primary-hover-color);
@primaryTextColor: var(--primary-text-color);
// @secondaryColor: var(--second-color);
@borderColor: #dedede;
@borderRadius: 5px;
@white: white;
@hightTextColor: #333;
@textColor: #666;
@lightTextColor: #999;
@blightColor: red;

// 导航条
@sidebarColor: var(--sidebar-color);
@sidebarBg: @bgColor;
@sidebarSeletedColor: var(--sidebar-selected-color);
@sidebarSeletedBg: var(--sidebar-selected-bg);
@sidebarHoverColor: var(--sidebar-hover-color);
@sidebarActiveColor: @sidebarHoverColor;

// 按钮类
@btnPrimary: var(--btn-primary);
@btnHoverPrimary: var(--btn-primary-hover);
@btnDanger: var(--btn-danger);
@btnHoverDanger: var(--btn-danger-hover);

/** 元素间隔 **/
@verticalHeight: 30px;
@horizontalWidth: 15px;
